.gv-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gv-row .gv-img_portada {
    display: flex;
    justify-content: center;
}

.gv-row .gv-img_portada img {
    height: 100% !important;
    margin: auto 0;
}

.gv-row-max-1,
.gv-row-max-2,
.gv-row-max-3 {
    display: grid;
    justify-content: center;
}

.gv-row-max-1 {
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(250px, 650px));
}

.gv-row-max-3 {
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    justify-content: space-evenly;
}

@media only screen and (min-width:600px) {}

@media only screen and (max-width:600px) {
    .gv-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}